@media (width: 700px){
	.wrapper img {
	    height: inherit;
	    position: absolute;
	    left: 0rem;
	}
	.img2 {
	    left: 6rem !important;
	    top: 10rem;
	    object-fit: cover;
	    position: absolute !important;
	    height: 220px !important;
	    width: 220px !important;
	}
	.wrapper h5 {
	    position: absolute;
	    left: 8rem;
	    top: 26rem;
	    color: #FFC107;
	}
	.wrapper .btn {
	    position: absolute;
	    top: 36rem;
	    left: 9rem;
	}
}
@media (min-width: 320px){
	.img2 {
	    left: 5rem !important;
		top: 10rem;
		object-fit: cover;
		position: absolute !important;
		height: 210px !important;
		width: 158px !important;
	}
	.wrapper h5 {
	    position: absolute;
	    left: 4rem;
	    top: 26rem;
	    color: #FFC107;
	}
	.wrapper .btn {
	    position: absolute;
	    top: 0.5rem;
   		left: 7rem;
	}
	.wrapper img {
	    height: inherit;
	    position: absolute;
	    left: 0rem;
	}
}
@media (min-width: 375px){
	.img2 {
	    left: 6rem !important;
		top: 10rem;
		object-fit: cover;
		position: absolute !important;
		height: 215px !important;
		width: 185px !important;
	}
	.wrapper h5 {
	    position: absolute;
	    left: 5rem;
	    top: 26rem;
	    color: #FFC107;
	}
	.wrapper .btn {
	    position: absolute;
	    top: 0.5rem;
    	left: 9rem;
	}
	.wrapper img {
	    height: inherit;
	    position: absolute;
	    left: 0rem;
	}
}
@media (min-width: 414px){
	.img2 {
	    left: 7rem !important;
		top: 10rem;
		object-fit: cover;
		position: absolute !important;
		height: 210px !important;
		width: 196px !important;
	}
	.wrapper h5 {
	    position: absolute;
	    left: 5rem;
	    top: 26rem;
	    color: #FFC107;
	}
	.wrapper .btn {
	    position: absolute;
	    top: 0.5rem;
	    left: 9rem;
	}
	.wrapper img {
	    height: inherit;
	    position: absolute;
	    left: 0rem;
	}
}
@media (min-width: 768px){
	.wrapper img {
	    height: inherit;
	    position: absolute;
	    left: 8rem;
	}
	.img2 {
	    left: 17rem !important;
	    top: 10rem;
	    object-fit: cover;
	    position: absolute !important;
	    height: 220px !important;
	    width: 220px !important;
	}
	.wrapper h5 {
	    position: absolute;
	    left: 18rem;
	    top: 26rem;
	    color: #FFC107;
	}
	.wrapper .btn {
	    position: absolute;
	    top: 0.5rem;
	    left: 20rem;
	}
}

