html{
	overflow-y: hidden;
	overflow-x: hidden;;
}
.img{
	background-image: url(join.png);
}
.display{
	background: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05); 
    /*display: none;*/
}
.display h3,h4{
    color: #0c0cf7;
}
.wrapper{
 	height: 500px;
 	display: none;
}
.wrapper img {
	height: inherit;
	position: absolute;
    left: 22rem;
}
.img2{
	left: 31rem !important;
    top: 10rem;
    object-fit: cover;
    position: absolute !important;
    height: 220px !important;
    width: 220px !important;
}
.wrapper h5{
	position: absolute;
    left: 33rem;
    top: 26rem;
    color: #FFC107;
}
.wrapper .btn{
	position: absolute;
    top: 36rem;
    left: 34rem;
}
.download{
	display: none;
}